<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="copyright font-alt">&copy; 2022&nbsp;<a href="index.html">Team HART</a>, All Rights
                    Reserved</p>
            </div>
            <div class="col">
                <div class="footer-social-links">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-envelope"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
